<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>403</title>
</head>
<body>
    <br>
    <br>
    <center>
    <h style="font-family: Arial;color: white;font-size: xx-large;">You donot have permission</h>
    <br>
    <h style="font-family: Arial;color: white;font-size: xx-large;">What are you doing here?</h>
    <br>
    <br>
    <video autoplay muted loop width="350px"><source src="{{url_for('static',filename='locks.mp4')}}" type="video/mp4"></video>
    </center>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
