<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="/static/web_data/all.css">
    <link rel="stylesheet" type="text/css" href="/static/web_data/password.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/select_video">Watch video</a></li>
            <li><a href = "/submit">Upload</a></li>
            <li><a href = "/download">Download</a></li>
        </ul> 
    </nav>
    <br>
    <form action="/password/create account/pos" method="post">
        <center>
        <input type="text" id="text" name="text" value="{{text}}" placeholder = "Username" required>
        <br><br><br>
        <input type="password" id="password" name="password" value="{{password}}" placeholder = "Password" required>
        <br><br><br>
        <input type = "email" id = "text" name = "email" value = "{{email}}" placeholder = "E-mail" required>
        </center>
        <br>
        <a href = "/password" id = "create">Login using Existing Account!</a>
        <br>
        <p id = "Error">{{message}}</p>
        <input type="submit" value="Create Account" >
    </form>
</body>
</html>
