<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="stylesheet" type="text/css" href="/static/web_data/all.css">
        <title>Deddey Rules</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/select_video">Watch video</a></li>
                <li><a href = "/submit">Upload</a></li>
                <li><a href = "/download">Download</a></li>
            </ul> 
        </nav>
        <center>
            <br>
            <br>
            <br>
            <br>
            <a href = "/drive/upload"><img src = "{{ url_for('static', filename='upload.png') }}" style = "width: 100px;cursor: pointer;"></a>
            <br>
            <br>
            <br>
            <br>
            <a href= "/drive/download"><img src = "{{ url_for('static', filename='download.png') }}" style = "width: 100px;cursor: pointer;"></a>
            <br>
            <br>
            <br>
            <br>

        </center>
    </body>
</html>