<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="/static/web_data/all.css">
    <link rel="stylesheet" type="text/css" href="/static/web_data/password.css">
    <title>create a Password</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/select_video">Watch video</a></li>
            <li><a href = "/submit">Upload</a></li>
            <li><a href = "/download">Download</a></li>
        </ul> 
    </nav>
    <br>
    <form action="/password/create/pos" method="post">
        <label for="text">Name:</label>
        <br>
        <input type="text" id="text" name="text" placeholder="Password Name" required>
        <br>
        <p id = "WarnName"></p>
        <br>
        <label for="number">size:</label>
        <br>
        <input type="number" id="number" name="number" placeholder="Passwordsize" required>
        <br>
        <br>
        <select id="option" name="style">
            <option value="True">All symbol</option>
            <option value="False">limited symbol</option>
        </select>
        <br>
        <br>
        <label for="des">Description:</label>
        <br>
        <input type = "text" id = "des" name = "des" placeholder="Any Message you want to store with the password">
        <br>
        <br>
        <label for="passwordUpdate">Password preview:</label>
        <div class="loader" id ="loader">
        </div>
        <br>
        <textarea type = "text" id = "passwordUpdate" name = "passwordUpdate" placeholder="You will see a password preveiw here" readonly></textarea>
        <br>
        <br>
        <input type="submit" id = "submit_make_password" value="Create password">
    </form>
</body>
<script>
    window.onload = init;
    var found = "clear";
    var pass = "";
    var orderison = 0;
    function init(){
        size = document.getElementById("number");
        op = document.getElementById("option");
        passwordUpdate = document.getElementById("passwordUpdate");
        text = document.getElementById("text");
        warn = document.getElementById("WarnName");
        load = document.getElementById("loader");
        oldSize = 0;
        oldOP = "True";
        oldname = ""
        submit_make_password = document.getElementById("submit_make_password");
        setInterval(seeChange,1);
        
    }
    function seeChange(){
        if (oldSize != size.value || oldOP != op.value || oldname != text.value ){
            getpassword();
        }

        if (passwordUpdate.value.toString().length != size.value){
            getpassword();
        }
        

        if (orderison == 1){
            load.style.visibility = "visible";
        }else{
            load.style.visibility = "hidden";
        }

        if (found == "match"){
            warn.innerHTML = "You alreay used that filename";
        }else{
            warn.innerHTML = "";
        }
        
        if (oldSize >= 5 && found == "clear" && text.value.toString().length >= 5 && orderison == 0){
            submit_make_password.style.visibility = "visible";
        }else{
            submit_make_password.style.visibility = "hidden";
        }
    }
    function getpassword(){
        if(orderison == 0){
            oldSize = size.value;
            oldOP = op.value;
            oldname = text.value;
            orderison = 1;
            fetch("/password/create/preview",{
                method:'POST',
                headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({size :size.value,
                option:op.value,
                name:text.value
            })
    
            })
            .then(res => res.json())
            .then(data => {
                passwordUpdate.value = data.passwords;
                found = data.found;
                orderison = 0;
            });
        }
    }
</script>
</html>
