<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="/static/web_data/all.css">
    <title>Never gonna give you up</title>
</head>
<body style = "background-color: black;">
    <nav style = "background-color: rgb(66, 5, 66);text-align: center;padding: 10px;">
        <a href = "/submit" style = "padding: 10px;text-decoration: none;color: white;">Upload file</a>
        <a href="/"><img src="{{ url_for('static', filename='home_icon.png') }}" style="width: 50px;cursor: pointer;"></a>
        <a href= "/download" style = "padding: 10px;text-decoration: none;color: green;">Download file</a>
    </nav>
    <br>
    <center>
    <h1 style = "color: white;">OOOh my deddey your search was a fail</h1>
    </center>
      
</body>
</html>
