<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.jpg') }}">
    <link rel="stylesheet" type="text/css" href="/static/web_data/all.css">
    <link rel="stylesheet" type="text/css" href="/static/web_data/selectPassword.css">
    <title>All done</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/select_video">Watch video</a></li>
            <li><a href = "/submit">Upload</a></li>
            <li><a href = "/download">Download</a></li>
        </ul> 
    </nav>
    <br>
    <a href = "/password/create" id = "makeButton">+</a>
    <a href = "/password/logout" id = "logout">Logout</a>
    <br><br><br><br><br>
    <center>
        {% for store in storage %}
        {% set index = loop.index0 %}
            <div id = "big_box">
                <div id = "second_box">
                    <br>
                    <p>{{store}}</p>
                    <br>
                    <textarea id = "des" placeholder = "You had no Description for this password" readonly>{{des[index]}}</textarea>
                    
                    <textarea id = "password{{index}}" readonly>{{keys[index]}}</textarea>
                    <br>
                    <button id = "copy_pass" onclick="copythis('{{index}}')"></button>
                    <button id = "del_pass" onclick="delThis('{{store}}')"></button>
                    <button id="show_pass{{index}}" style="float: right;"  onclick="Show('{{ index }}')"></button>

                </div>
            </div>
            <br>
        {% endfor %}
    </center>
</body>
<script>
    window.onload = init;

    function init(){
        show = document.getElementById("password");
    }

    function copythis(index){
        copyText = document.getElementById("password"+index);
        copyText.select();
        copyText.setSelectionRange(0, 99999); 
        navigator.clipboard.writeText(copyText.value);
    }

    function Show(index){
        show = document.getElementById("password"+index);
        show_btn = document.getElementById("show_pass"+index);
        var style = window.getComputedStyle(show);
        if (style.visibility === 'visible'){
            show.style.visibility = "hidden";
            show_btn.style.backgroundImage = "url('/static/web_data/show-eye.png')";
        }else{
            show_btn.style.backgroundImage = "url('/static/web_data/hidden.png')";
            show.style.visibility = "visible";
        }
    }

    function delThis(thisDel){
        fetch("/password/del",{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({thisDel:thisDel})})
            .then(res => res.json())
            .then(data => {
                if (data == "Done"){
                    location.reload();
                }
            })
    }
</script>
</html>
